{% extends 'base.html' %}
{% block title %} FFP Home {% endblock %}
{% block content %}
<div class="w3-content">
<h1 class="w3-large">A Flask full of Pandas</h1>
<h3 class="w3-medium">Simple web interface using Flask and Pandas to display data from U.K. Office of National Statistics (ONS) - in this case Deaths registrations</h3>
<p>The links in the left menu are the sheets in the Excel file, these lead to graphical displays of time series and weekly grouped data using Googles Charts Visualisation package.</p>
<p>Published in the hope the example code is useful to someone and as an aide de memoire for me.</p>
<footer class="w3-tiny w3-bottom">Keith McRae - McRae Consulting Ltd October 2020</footer>
</div>
{% endblock %}